<div>
  <div ng-if="ctrl.showInit" class="landing-container">
    <H1>TRIBAL</H1>
    <button class="landing-button" type="button"><a href="/login">Create new playlist</a></button>
    <button class="landing-button" type="button" ng-click="ctrl.existingPlaylist()">Enter existing playlist</button>
    <div ng-if="ctrl.showForm">
      <input id="hash-input" type="text" ng-model="hash"></input>
      <div ng-if="ctrl.showError">Playlist ID not found, please enter a valid ID</div>
      <div>
        <button class="enter-button" type="button" ng-click="ctrl.submitPlaylist(hash)">Enter</button>
        <button class="enter-button" type="button" ng-click="ctrl.clickCancel()">Cancel</button>
      </div>
    </div>
  </div>
  <main ng-if="ctrl.showMain" playlist-uri="ctrl.playlistUri"></main>
</div>
