<html>

<div class="container">

  <h1 ng-click="ctrl.clickTitle()">TRIBAL</h1>

  <div id="searchBar">
    <search search-results-handler="ctrl.searchResultsHandler" />
  </div>

  <div id="songData">

    <div class="appColumns" id="searchResults">
      <search-results search-results="ctrl.searchResults" />
    </div>

    <div class="appColumns" id="playlist">
      <playlist playlist-uri="ctrl.playlistUri" />
    </div>

    <div id="vote-table">
      <h4 id="vote">VOTE HERE</h4>
      <voter-table songs="ctrl.songs" voting-handler="ctrl.votingHandler"/>
    </div>
    </div>
  </div>


</div>
</html>

