<html>

<div class="container">

  <H1 ng-click="ctrl.clickTitle()">TRIBAL</H1>

  <div id="searchBar">
    <search search-results-handler="ctrl.searchResultsHandler" />
  </div>

  <div id="songData">

    <div class="appColumns" id="searchResults">
      <search-results search-results="ctrl.searchResults" />
    </div>

    <div class="appColumns" id="playlist">
      <playlist playlist-uri="ctrl.playlistUri" />
    </div>

    <div>
        <voter-table playlist-hash="ctrl.playlistHash"/>
    </div>
    </div>
  </div>


</div>
</html>

