<div>
<table>
  <tr ng-repeat="song in ctrl.songs" song="song">
  <td width="200">
    <span>{{song.songTitle}}</span>
    <span class="song-artist">{{song.songArtist}}</span>
  </td>
  <td>
    <button class="vote-button" type="submit" ng-model='upvote' ng-click="ctrl.someEventHandler('upvote')">
      {{song.upvotes}} 👍
    </button>
  </td>
  <td>
    <button class="vote-button" type="submit" ng-model='downvote' ng-click="ctrl.someEventHandler('downvote')" >
      {{song.downvotes}} 👎
    </button>
  </td>
</tr>
</table>
</div>




